appdirs            1.4.4
attrs              22.2.0
cattrs             22.2.0
certifi            2022.12.7
charset-normalizer 3.0.1
colorama           0.4.6
contourpy          1.0.7
cycler             0.11.0
decorator          4.4.2
docopt             0.6.2
exceptiongroup     1.1.0
fastf1             2.3.0
fonttools          4.38.0
idna               3.4
imageio            2.25.0
imageio-ffmpeg     0.4.8
kiwisolver         1.4.4
matplotlib         3.6.3
moviepy            1.0.3
numpy              1.24.1
packaging          23.0
pandas             1.5.3
Pillow             9.4.0
pip                19.2.3
pipreqs            0.4.11
proglog            0.1.10
pyparsing          3.0.9
python-dateutil    2.8.2
pytube             12.1.2
pytube3            9.6.4
pytz               2022.7.1
requests           2.28.2
requests-cache     0.9.8
scipy              1.10.0
setuptools         41.2.0
signalr-client-aio 0.0.1.6.2
six                1.16.0
thefuzz            0.19.0
timple             0.1.5
tqdm               4.64.1
typing-extensions  4.4.0
url-normalize      1.4.3
urllib3            1.26.14
websockets         10.4
yarg               0.1.9